<%= form_for([@user, @blog]) do |f| %>

<div class="field">
    <%=f.label :title %>
    <%=f.text_field :title %>
</div>

<div class="field">
    <%=f.label :content %>
    <%=f.text_area :content %>
</div>
<div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, @category, :id, :name %>
</div>
<div class="field">
  <%= f.label :thumbnail %><br />
  <%= f.file_field :thumbnail %>
</div>
    <%=f.submit "Submit"%>

<%end%>
