
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class = "user-body">
        <h1> <%= @blog.title %> </h1>
        <% if @blog.user == current_user  %>
        <%= link_to 'Edit', edit_user_blog_path %>
        <%= link_to 'Delete', user_blog_path, method: :delete %>
        <% end %>
        <div class="show_container">
            <div class="image-left-container">
              <% if @blog.thumbnail.attached? %>
                           <%=image_tag(@blog.thumbnail, class: "card-image") %>

                       <%else%>
                           <%=image_tag("https://sites.law.lsu.edu/civilian/wp-content/themes/thecivilian/images/slider_no_thumb.gif",class: "card-image") %>
                       <%end%>

            </div>
            <div class="video-right">
                <p> <%=link_to(@blog.user.username,@blog.user)%></p>
                <p><%= @blog.content %></p>
            </div>


        </div>


    </body>
</html>
