<h1>Edit Video Post</h1>

<%= form_for([@user, @video]) do |f| %>
<ul>
<div class="field">
    <%=f.label :title %>
    <%=f.text_field :title %>
</div>

<div class="field">
    <%=f.label :vidurl %>
    <%=f.text_area :vidurl %>
</div>
<div class="field">
    <%=f.label :description %>
    <%=f.text_area :description %>
</div>
<div class="field">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, @category, :id, :name %>
</div>
<div class="field">
  <%= f.label :thumbnail %><br />
  <%= f.file_field :thumbnail %>
</div>
    <%=f.submit "Submit"%>
</ul>
<%end%>
