<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body class = "user-body">
        <h1>Video</h1>
        <hr class = "list-title">
        <div class="album text-muted">
            <div class="container">

              <div class="row">
                  <%@videos_reversed = @videos.reverse.first(15)%>
                  <%@videos_reversed.each do |video| %>
                  <a href = "<%=user_video_path(:user_id,video)%>">
                      <div class="card">
                        <% if video.thumbnail.attached? %>
                                     <%=image_tag(video.thumbnail, class: "card-image") %>
                                 <%else%>
                                     <%=image_tag("https://sites.law.lsu.edu/civilian/wp-content/themes/thecivilian/images/slider_no_thumb.gif",class: "card-image") %>
                                 <%end%>
                                 
                        <div><%=video.title%></div>
                        <p class="card-text"><%=video.user.username%></p>
                </div>
            </a>
            <%end %>
            </div>
        </div>
        </div>
    </body>
</html>
