<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <% if !user_signed_in? %>
    <body class = "bg">
        <div class="jumbotron">
          <h1 class = "welcome-jumbo">Welcome to Aethur</h1>
          <p>Welcome to Aethur. We are a global community of millions who come
               together each day to create their own entertainment: unique,
               live, unpredictable, never-to-be repeated experiences created by
               the magical interactions of the many. With chat built into every
                stream, you don’t just watch on Twitch, you’re a part of the show.
            </p>
          <div class = "jumbotron-button-left">
              <a class="btn btn-outline-primary"  <%= link_to('Sign In',new_user_session_path)%></a>

                 <a class="btn btn-outline-success" id = "button-right" href="/users/sign_up/" role="button">Sign Up</a>
             </div>

        </div>
    </body>
    <% else %>
    <body class = "user-body">
        <h1 class = "list-title-home">Latest Posts</h1>
        <div class="album text-muted">
            <div class="container">

              <div class="row">
                <%@blogs_reversed = @blogs.reverse.first(6)%>
                  <%@blogs_reversed.each do |blog| %>
                  <a href = "<%=user_blog_path(:user_id,blog)%>">
                <div class="card">
                  <% if blog.thumbnail.attached? %>
                               <%=image_tag(blog.thumbnail, class: "card-image") %>

                           <%else%>
                               <%=image_tag("https://sites.law.lsu.edu/civilian/wp-content/themes/thecivilian/images/slider_no_thumb.gif",class: "card-image") %>
                           <%end%>
                  <div><%=blog.title%>.</div>
                  <p class="card-text"><%=blog.user.username%>.</p>
                </div>
            </a>
            <%end %>
            </div>
        </div>
        </div>

        <hr class = "divider">
        <h1 class = "list-title-home">Latest Videos</h1>
        <div class="album text-muted">
            <div class="container">

              <div class="row">
                <% @videos_reversed = @videos.reverse.first(6)%>
                  <%@videos_reversed.each do |video| %>
                  <a href = "<%=user_video_path(:user_id,video)%>">
                <div class="card">
                  <% if video.thumbnail.attached? %>
                               <%=image_tag(video.thumbnail, class: "card-image") %>

                           <%else%>
                               <%=image_tag("https://sites.law.lsu.edu/civilian/wp-content/themes/thecivilian/images/slider_no_thumb.gif",class: "card-image") %>
                           <%end%>
                  <div><%=video.title%></div>
                  <p class="card-text"><%=video.user.username%></p>
                </div>
            </a>
            <%end %>
            </div>
        </div>
        </div>
    </body>

    <%end %>
</html>
